*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

:root {
  --primary: 33 122 86;
  /* #217A56 */
  --primary-focus: 40 92 68;
  /* #285C44 */
  --primary-content: 196 222 210;
  /* #C4DED2 */
  --secondary: 163 206 233;
  /* #A3CEE9 */
  --secondary-focus: 177 198 212;
  /* #B1C6D4 */
  --secondary-content: 218 234 242;
  /* #DAEAF2 */
  --accent: 166 153 141;
  /* #A6998D */
  --accent-focus: 134 128 121;
  /* #868079 */
  --accent-content: 217 213 208;
  /* #D9D5D0 */
  --neutral: 107 114 128;
  /* #6B7280 */
  --neutral-focus: 76 81 91;
  /* #4C515B */
  --neutral-content: 156 161 170;
  /* #9CA1AA */
  --info: 143 196 229;
  /* #8FC4E5 */
  --info-content: 220 237 247;
  /* #DCEDF7 */
  --success: 20 184 166;
  /* #14B8A6 */
  --success-content: 182 233 227;
  /* #B6E9E3 */
  --warning: 255 172 12;
  /* #FFAC0C */
  --warning-content: 255 229 180;
  /* #FFE5B4 */
  --error: 230 98 75;
  /* #E6624B */
  --error-content: 247 206 199;
  /* #F7CEC7 */
  --base-100: 227 229 235;
  /* #E3E5EB */
  --base-200: 245 245 245;
  /* #F5F5F5 */
  --base-300: 22 23 26;
  /* #16171A */
  --base-content: 238 239 240;
  /* #EEEFF0 */
  --overlay: rgba(22, 23, 26, 0.25);
  /* #16171A @ 25%  */
}

[data-theme="dark"] {
  --primary: 64 147 109;
  /* #40936D */
  --primary-focus: 95 142 108;
  /* #5F8E6C */
  --primary-content: 57 71 65;
  /* #394741 */
  --secondary: 68 114 141;
  /* #44728D */
  --secondary-focus: 94 115 135;
  /* #5E7387 */
  --secondary-content: 54 68 77;
  /* #36444D */
  --accent: 97 101 102;
  /* #616566 */
  --accent-focus: 107 106 108;
  /* #6B6A6C */
  --accent-content: 63 63 64;
  /* -#3F3F40 */
  --neutral: 107 114 128;
  /* #6B7280 */
  --neutral-focus: 160 165 174;
  /* #A0A5AE */
  --neutral-content: 80 85 94;
  /* #50555E */
  --info: 132 181 212;
  /* #84B5D4 */
  --info-content: 102 139 163;
  /* #668BA3 */
  --success: 67 198 184;
  /* #43C6B8 */
  --success-content: 14 131 118;
  /* #0E8376 */
  --warning: 255 189 61;
  /* #FFBD3D */
  --warning-content: 181 122 9;
  /* #B57A09 */
  --error: 235 129 111;
  /* #EB816F */
  --error-content: 163 70 53;
  /*#A34635 */
  --base-100: 56 59 67;
  /* #383B43 */
  --base-200: 22 23 26;
  /* #16171A */
  --base-300: 245 245 245;
  /* #F5F5F5 */
  --base-content: 45 48 54;
  /* #2D3036 */
  --overlay: rgba(245, 245, 245, 0.25);
  /* #F5F5F5 @ 25%  */
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-y-0 {
  top: 0px;
  bottom: 0px;
}

.bottom-full {
  bottom: 100%;
}

.left-1\/2 {
  left: 50%;
}

.left-28 {
  left: 7rem;
}

.left-\[2px\] {
  left: 2px;
}

.left-full {
  left: 100%;
}

.right-0 {
  right: 0px;
}

.right-\[2px\] {
  right: 2px;
}

.right-\[50px\] {
  right: 50px;
}

.right-full {
  right: 100%;
}

.top-1\/2 {
  top: 50%;
}

.top-full {
  top: 100%;
}

.z-50 {
  z-index: 50;
}

.z-\[2\] {
  z-index: 2;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.box-border {
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-\[1\.125rem\] {
  height: 1.125rem;
}

.h-\[10\.5px\] {
  height: 10.5px;
}

.h-\[18px\] {
  height: 18px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[calc\(100\%-4px\)\] {
  height: calc(100% - 4px);
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.max-h-\[320px\] {
  max-height: 320px;
}

.max-h-\[calc\(100vh-5em\)\] {
  max-height: calc(100vh - 5em);
}

.w-10 {
  width: 2.5rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-\[10\.5px\] {
  width: 10.5px;
}

.w-\[1000px\] {
  width: 1000px;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[138px\] {
  width: 138px;
}

.w-\[164px\] {
  width: 164px;
}

.w-\[169px\] {
  width: 169px;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[276px\] {
  width: 276px;
}

.w-\[320px\] {
  width: 320px;
}

.w-auto {
  width: auto;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.min-w-\[75px\] {
  min-width: 75px;
}

.max-w-\[650px\] {
  max-width: 650px;
}

.max-w-\[700px\] {
  max-width: 700px;
}

.max-w-\[871px\] {
  max-width: 871px;
}

.max-w-none {
  max-width: none;
}

.flex-1 {
  flex: 1 1 0%;
}

.shrink {
  flex-shrink: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-3 {
  --tw-translate-x: -0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-3 {
  --tw-translate-y: -0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-3 {
  --tw-translate-x: 0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-3 {
  --tw-translate-y: 0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.resize-none {
  resize: none;
}

.grid-cols-\[150px_1fr\] {
  grid-template-columns: 150px 1fr;
}

.grid-cols-\[min-content_1fr_min-content\] {
  grid-template-columns: min-content 1fr min-content;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-x-10 {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

.gap-x-2 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.gap-x-\[4px\] {
  -moz-column-gap: 4px;
       column-gap: 4px;
}

.gap-x-\[5px\] {
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.gap-x-\[6px\] {
  -moz-column-gap: 6px;
       column-gap: 6px;
}

.gap-y-10 {
  row-gap: 2.5rem;
}

.gap-y-3\.5 {
  row-gap: 0.875rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.gap-y-5 {
  row-gap: 1.25rem;
}

.-space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(-0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(-0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.break-all {
  word-break: break-all;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[100px\] {
  border-radius: 100px;
}

.rounded-\[6\.2px\] {
  border-radius: 6.2px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-l-md {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-base-100 {
  --tw-border-opacity: 1;
  border-color: rgb(var(--base-100) / var(--tw-border-opacity, 1));
}

.border-base-content {
  --tw-border-opacity: 1;
  border-color: rgb(var(--base-content) / var(--tw-border-opacity, 1));
}

.border-error {
  --tw-border-opacity: 1;
  border-color: rgb(var(--error) / var(--tw-border-opacity, 1));
}

.border-error\/40 {
  border-color: rgb(var(--error) / 0.4);
}

.border-info {
  --tw-border-opacity: 1;
  border-color: rgb(var(--info) / var(--tw-border-opacity, 1));
}

.border-neutral {
  --tw-border-opacity: 1;
  border-color: rgb(var(--neutral) / var(--tw-border-opacity, 1));
}

.border-neutral\/40 {
  border-color: rgb(var(--neutral) / 0.4);
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(var(--primary) / var(--tw-border-opacity, 1));
}

.border-success {
  --tw-border-opacity: 1;
  border-color: rgb(var(--success) / var(--tw-border-opacity, 1));
}

.border-transparent {
  border-color: transparent;
}

.border-warning {
  --tw-border-opacity: 1;
  border-color: rgb(var(--warning) / var(--tw-border-opacity, 1));
}

.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--accent) / var(--tw-bg-opacity, 1));
}

.bg-accent-content {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--accent-content) / var(--tw-bg-opacity, 1));
}

.bg-base-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--base-100) / var(--tw-bg-opacity, 1));
}

.bg-base-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--base-200) / var(--tw-bg-opacity, 1));
}

.bg-base-content {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--base-content) / var(--tw-bg-opacity, 1));
}

.bg-error-content {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--error-content) / var(--tw-bg-opacity, 1));
}

.bg-info-content {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--info-content) / var(--tw-bg-opacity, 1));
}

.bg-neutral {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--neutral) / var(--tw-bg-opacity, 1));
}

.bg-neutral-content {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--neutral-content) / var(--tw-bg-opacity, 1));
}

.bg-overlay {
  background-color: var(--overlay);
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--primary) / var(--tw-bg-opacity, 1));
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--secondary) / var(--tw-bg-opacity, 1));
}

.bg-success {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--success) / var(--tw-bg-opacity, 1));
}

.bg-success-content {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--success-content) / var(--tw-bg-opacity, 1));
}

.bg-warning-content {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--warning-content) / var(--tw-bg-opacity, 1));
}

.fill-current {
  fill: currentColor;
}

.fill-transparent {
  fill: transparent;
}

.stroke-base-300 {
  stroke: rgb(var(--base-300) / 1);
}

.stroke-error {
  stroke: rgb(var(--error) / 1);
}

.stroke-\[1\.5px\] {
  stroke-width: 1.5px;
}

.p-10 {
  padding: 2.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-\[10px\] {
  padding: 10px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-3\.5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px;
}

.px-\[22px\] {
  padding-left: 22px;
  padding-right: 22px;
}

.px-\[26px\] {
  padding-left: 26px;
  padding-right: 26px;
}

.px-\[8px\] {
  padding-left: 8px;
  padding-right: 8px;
}

.px-\[9px\] {
  padding-left: 9px;
  padding-right: 9px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-\[18px\] {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-\[2px\] {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-\[3px\] {
  padding-top: 3px;
  padding-bottom: 3px;
}

.py-\[4px\] {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-\[56px\] {
  padding-left: 56px;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-\[48px\] {
  padding-right: 48px;
}

.pr-\[72px\] {
  padding-right: 72px;
}

.pt-10 {
  padding-top: 2.5rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.text-base-200 {
  --tw-text-opacity: 1;
  color: rgb(var(--base-200) / var(--tw-text-opacity, 1));
}

.text-base-300 {
  --tw-text-opacity: 1;
  color: rgb(var(--base-300) / var(--tw-text-opacity, 1));
}

.text-error {
  --tw-text-opacity: 1;
  color: rgb(var(--error) / var(--tw-text-opacity, 1));
}

.text-info {
  --tw-text-opacity: 1;
  color: rgb(var(--info) / var(--tw-text-opacity, 1));
}

.text-neutral-focus {
  --tw-text-opacity: 1;
  color: rgb(var(--neutral-focus) / var(--tw-text-opacity, 1));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity, 1));
}

.text-success {
  --tw-text-opacity: 1;
  color: rgb(var(--success) / var(--tw-text-opacity, 1));
}

.text-warning {
  --tw-text-opacity: 1;
  color: rgb(var(--warning) / var(--tw-text-opacity, 1));
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-75 {
  opacity: 0.75;
}

.shadow-\[0px_0px_0px_3px\] {
  --tw-shadow: 0px 0px 0px 3px;
  --tw-shadow-colored: 0px 0px 0px 3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 8px 12px 0 rgb(var(--neutral-focus) / 0.08);
  --tw-shadow-colored: 0 8px 12px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 8px 0 rgb(var(--neutral-focus) / 0.08);
  --tw-shadow-colored: 0 4px 8px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 2px 4px 0 rgb(var(--neutral-focus) / 0.05);
  --tw-shadow-colored: 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-transparent {
  --tw-shadow-color: transparent;
  --tw-shadow: var(--tw-shadow-colored);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.outline {
  outline-style: solid;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Scrollbar styles */

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #919191;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}

/* to hide or show content based on the current theme */

[data-theme="dark"] [data-hide-on-theme="dark"],
[data-theme="light"] [data-hide-on-theme="light"] {
  display: none;
}

/* a fix for a textarea placeholder missing bottom padding for Safari  */

@supports (-webkit-hyphens: none) {
  textarea::-moz-placeholder {
    padding-bottom: 8px;
  }
  textarea::placeholder {
    padding-bottom: 8px;
  }
}

/* to remove the reveal password button (eye) which is added by MS Edge and IE */

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* React DateTime Picker styles */

.react-datepicker {
  border-radius: 8px !important;
  overflow: hidden !important;
  background-color: #f5f5f5 !important;
  border: 2px solid rgba(107, 114, 128, 0.4) !important;
  /* box-shadow: 0px 0px 0px 3px rgba(107, 114, 128, 0.3) !important; */
}

[data-theme="dark"] .react-datepicker {
  background-color: #16171a !important;
  border: 2px solid rgba(107, 114, 128, 0.4) !important;
  /* box-shadow: 0px 0px 0px 3px rgba(107, 114, 128, 0.3) !important; */
}

.react-datepicker__navigation-icon::before {
  border-color: #6b7280 !important;
}

[data-theme="dark"] .react-datepicker__navigation-icon::before {
  border-color: #6b7280 !important;
}

.react-datepicker__month-container,
.react-datepicker__header,
.react-datepicker__time-container,
.react-datepicker__header,
.react-datepicker__time-box {
  background-color: #f5f5f5 !important;
  border: none !important;
}

.react-datepicker__month-container {
  border-right: 1px solid rgba(107, 114, 128, 0.4) !important;
}

[data-theme="dark"] .react-datepicker__month-container,
[data-theme="dark"] .react-datepicker__header,
[data-theme="dark"] .react-datepicker__time-container,
[data-theme="dark"] .react-datepicker__header,
[data-theme="dark"] .react-datepicker__time-box {
  background-color: #16171a !important;
}

.react-datepicker__day,
.react-datepicker__current-month {
  font-size: 14px !important;
  font-weight: semibold !important;
}

.react-datepicker__day,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header,
.react-datepicker__time-list-item {
  color: #4c515b !important;
}

[data-theme="dark"] .react-datepicker__day,
[data-theme="dark"] .react-datepicker__current-month,
[data-theme="dark"] .react-datepicker__day-name,
[data-theme="dark"] .react-datepicker-time__header,
[data-theme="dark"] .react-datepicker__time-list-item {
  color: #a0a5ae !important;
}

.react-datepicker__day--today {
  color: #4c515b !important;
}

[data-theme="dark"] .react-datepicker__day--today {
  color: #a0a5ae !important;
}

.react-datepicker__day.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day:hover,
.react-datepicker__time-list-item:hover {
  background: #e3e5eb !important;
  color: #4c515b !important;
}

[data-theme="dark"] .react-datepicker__day.react-datepicker__day--selected,
[data-theme="dark"] .react-datepicker__time-list-item--selected,
[data-theme="dark"] .react-datepicker__day--keyboard-selected,
[data-theme="dark"] .react-datepicker__day:hover,
[data-theme="dark"] .react-datepicker__time-list-item:hover {
  background: #383b43 !important;
  color: #a0a5ae !important;
}

.react-datepicker__time-list-item--disabled,
.react-datepicker__time-list-item--disabled:hover {
  background: none !important;
  color: #e3e5eb !important;
}

[data-theme="dark"] .react-datepicker__time-list-item--disabled {
  color: #383b43 !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-full::after {
  content: var(--tw-content);
  bottom: 100%;
}

.after\:left-1\/2::after {
  content: var(--tw-content);
  left: 50%;
}

.after\:left-full::after {
  content: var(--tw-content);
  left: 100%;
}

.after\:right-full::after {
  content: var(--tw-content);
  right: 100%;
}

.after\:top-1\/2::after {
  content: var(--tw-content);
  top: 50%;
}

.after\:top-full::after {
  content: var(--tw-content);
  top: 100%;
}

.after\:-z-10::after {
  content: var(--tw-content);
  z-index: -10;
}

.after\:h-\[7px\]::after {
  content: var(--tw-content);
  height: 7px;
}

.after\:w-full::after {
  content: var(--tw-content);
  width: 100%;
}

.after\:-translate-x-1\/2::after {
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:-translate-y-1\/2::after {
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:border-8::after {
  content: var(--tw-content);
  border-width: 8px;
}

.after\:border-solid::after {
  content: var(--tw-content);
  border-style: solid;
}

.after\:border-base-200::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(var(--base-200) / var(--tw-border-opacity, 1));
}

.after\:border-x-transparent::after {
  content: var(--tw-content);
  border-left-color: transparent;
  border-right-color: transparent;
}

.after\:border-y-transparent::after {
  content: var(--tw-content);
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.after\:border-b-transparent::after {
  content: var(--tw-content);
  border-bottom-color: transparent;
}

.after\:border-l-transparent::after {
  content: var(--tw-content);
  border-left-color: transparent;
}

.after\:border-r-transparent::after {
  content: var(--tw-content);
  border-right-color: transparent;
}

.after\:border-t-transparent::after {
  content: var(--tw-content);
  border-top-color: transparent;
}

.after\:bg-base-100::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(var(--base-100) / var(--tw-bg-opacity, 1));
}

.after\:content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content);
}

.last\:flex-none:last-child {
  flex: none;
}

.hover\:border-error:hover {
  --tw-border-opacity: 1;
  border-color: rgb(var(--error) / var(--tw-border-opacity, 1));
}

.hover\:border-neutral-focus:hover {
  --tw-border-opacity: 1;
  border-color: rgb(var(--neutral-focus) / var(--tw-border-opacity, 1));
}

.hover\:bg-accent-focus:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--accent-focus) / var(--tw-bg-opacity, 1));
}

.hover\:bg-base-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--base-100) / var(--tw-bg-opacity, 1));
}

.hover\:bg-base-300\/25:hover {
  background-color: rgb(var(--base-300) / 0.25);
}

.hover\:bg-error:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--error) / var(--tw-bg-opacity, 1));
}

.hover\:bg-primary-content:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--primary-content) / var(--tw-bg-opacity, 1));
}

.hover\:bg-primary-focus:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--primary-focus) / var(--tw-bg-opacity, 1));
}

.hover\:bg-secondary-focus:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--secondary-focus) / var(--tw-bg-opacity, 1));
}

.hover\:text-base-300:hover {
  --tw-text-opacity: 1;
  color: rgb(var(--base-300) / var(--tw-text-opacity, 1));
}

.focus-visible\:border-error\/40:focus-visible {
  border-color: rgb(var(--error) / 0.4);
}

.focus-visible\:border-neutral\/40:focus-visible {
  border-color: rgb(var(--neutral) / 0.4);
}

.focus-visible\:bg-base-200:focus-visible {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--base-200) / var(--tw-bg-opacity, 1));
}

.focus-visible\:shadow-error\/20:focus-visible {
  --tw-shadow-color: rgb(var(--error) / 0.2);
  --tw-shadow: var(--tw-shadow-colored);
}

.focus-visible\:shadow-neutral\/30:focus-visible {
  --tw-shadow-color: rgb(var(--neutral) / 0.3);
  --tw-shadow: var(--tw-shadow-colored);
}

.focus-visible\:ring-0:focus-visible {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.hover\:focus-visible\:border-neutral\/40:focus-visible:hover {
  border-color: rgb(var(--neutral) / 0.4);
}

.active\:bg-accent-content:active {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--accent-content) / var(--tw-bg-opacity, 1));
}

.active\:bg-error:active {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--error) / var(--tw-bg-opacity, 1));
}

.active\:bg-neutral-content:active {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--neutral-content) / var(--tw-bg-opacity, 1));
}

.active\:bg-primary:active {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--primary) / var(--tw-bg-opacity, 1));
}

.active\:bg-primary-content:active {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--primary-content) / var(--tw-bg-opacity, 1));
}

.active\:bg-secondary-content:active {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--secondary-content) / var(--tw-bg-opacity, 1));
}

.active\:text-base-200:active {
  --tw-text-opacity: 1;
  color: rgb(var(--base-200) / var(--tw-text-opacity, 1));
}

.active\:text-base-300:active {
  --tw-text-opacity: 1;
  color: rgb(var(--base-300) / var(--tw-text-opacity, 1));
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.disabled\:bg-accent-focus:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--accent-focus) / var(--tw-bg-opacity, 1));
}

.disabled\:bg-base-100:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--base-100) / var(--tw-bg-opacity, 1));
}

.disabled\:bg-error:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--error) / var(--tw-bg-opacity, 1));
}

.disabled\:bg-neutral-content:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--neutral-content) / var(--tw-bg-opacity, 1));
}

.disabled\:bg-primary-focus:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--primary-focus) / var(--tw-bg-opacity, 1));
}

.disabled\:bg-secondary-focus:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--secondary-focus) / var(--tw-bg-opacity, 1));
}

.disabled\:text-neutral:disabled {
  --tw-text-opacity: 1;
  color: rgb(var(--neutral) / var(--tw-text-opacity, 1));
}

.disabled\:text-neutral-content:disabled {
  --tw-text-opacity: 1;
  color: rgb(var(--neutral-content) / var(--tw-text-opacity, 1));
}

.disabled\:text-neutral-focus:disabled {
  --tw-text-opacity: 1;
  color: rgb(var(--neutral-focus) / var(--tw-text-opacity, 1));
}

.disabled\:hover\:border-neutral\/40:hover:disabled {
  border-color: rgb(var(--neutral) / 0.4);
}

.group:hover .group-hover\:border {
  border-width: 1px;
}

.group:hover .group-hover\:border-neutral {
  --tw-border-opacity: 1;
  border-color: rgb(var(--neutral) / var(--tw-border-opacity, 1));
}

.group:hover .group-hover\:border-neutral-focus {
  --tw-border-opacity: 1;
  border-color: rgb(var(--neutral-focus) / var(--tw-border-opacity, 1));
}

.group:hover .group-hover\:bg-base-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--base-100) / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:focus-visible\:border-neutral\/40:focus-visible {
  border-color: rgb(var(--neutral) / 0.4);
}

.group:hover .disabled\:group-hover\:border-neutral\/40:disabled {
  border-color: rgb(var(--neutral) / 0.4);
}

.peer:checked ~ .peer-checked\:border-0 {
  border-width: 0px;
}

.peer:checked ~ .peer-checked\:border-base-300 {
  --tw-border-opacity: 1;
  border-color: rgb(var(--base-300) / var(--tw-border-opacity, 1));
}

.peer:checked ~ .peer-checked\:bg-base-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--base-200) / var(--tw-bg-opacity, 1));
}

.peer:checked ~ .peer-checked\:text-base-300 {
  --tw-text-opacity: 1;
  color: rgb(var(--base-300) / var(--tw-text-opacity, 1));
}

.peer:checked ~ .peer-checked\:shadow-\[inset_0_0_0_7px\] {
  --tw-shadow: inset 0 0 0 7px;
  --tw-shadow-colored: inset 0 0 0 7px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.peer:checked ~ .peer-checked\:shadow-base-300 {
  --tw-shadow-color: rgb(var(--base-300) / 1);
  --tw-shadow: var(--tw-shadow-colored);
}

.group:hover .peer:checked ~ .group-hover\:peer-checked\:border-neutral-content {
  --tw-border-opacity: 1;
  border-color: rgb(var(--neutral-content) / var(--tw-border-opacity, 1));
}

.group:hover .peer:checked ~ .group-hover\:peer-checked\:shadow-neutral {
  --tw-shadow-color: rgb(var(--neutral) / 1);
  --tw-shadow: var(--tw-shadow-colored);
}

.peer:disabled ~ .peer-disabled\:bg-base-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--base-100) / var(--tw-bg-opacity, 1));
}

.peer:disabled ~ .peer-disabled\:bg-neutral-content {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--neutral-content) / var(--tw-bg-opacity, 1));
}

.peer:disabled ~ .hover\:peer-disabled\:cursor-not-allowed:hover {
  cursor: not-allowed;
}

.peer:disabled:checked ~ .peer-disabled\:peer-checked\:bg-neutral-focus {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--neutral-focus) / var(--tw-bg-opacity, 1));
}

.peer:disabled:checked ~ .peer-disabled\:peer-checked\:shadow-neutral {
  --tw-shadow-color: rgb(var(--neutral) / 1);
  --tw-shadow: var(--tw-shadow-colored);
}

@media (min-width: 768px) {
  .md\:min-w-\[730px\] {
    min-width: 730px;
  }
}

@media (min-width: 1024px) {
  .lg\:gap-x-20 {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}

@media (min-width: 1536px) {
  .\32xl\:max-w-none {
    max-width: none;
  }
}

.\[\&\>\*\]\:mx-\[14px\]>* {
  margin-left: 14px;
  margin-right: 14px;
}

.\[\&\>\*\]\:hidden>* {
  display: none;
}

.\[\&\>\*\]\:h-5>* {
  height: 1.25rem;
}

.\[\&\>\*\]\:w-5>* {
  width: 1.25rem;
}

.\[\&\>\*\]\:stroke-\[1\.5px\]>* {
  stroke-width: 1.5px;
}

.\[\&\>\*\]\:text-base-200>* {
  --tw-text-opacity: 1;
  color: rgb(var(--base-200) / var(--tw-text-opacity, 1));
}

.\[\&\>\*\]\:text-base-300>* {
  --tw-text-opacity: 1;
  color: rgb(var(--base-300) / var(--tw-text-opacity, 1));
}

.peer:checked ~ .peer-checked\:\[\&\>\*\]\:block>* {
  display: block;
}

.group:hover .peer:checked ~ .group-hover\:peer-checked\:\[\&\>\*\]\:text-neutral-content>* {
  --tw-text-opacity: 1;
  color: rgb(var(--neutral-content) / var(--tw-text-opacity, 1));
}

.\[\&\>\:last-child\]\:flex>:last-child {
  display: flex;
}

.\[\&\>\:last-child\]\:w-full>:last-child {
  width: 100%;
}

.\[\&\>\:last-child\]\:flex-col>:last-child {
  flex-direction: column;
}

.\[\&\>\:last-child\]\:gap-y-10>:last-child {
  row-gap: 2.5rem;
}
